<h1>Welcome</h1>
<p>Welcome to StoryBoards 1.0.0</p>
<p>Post personal stroies and have complete control over them</p>
{{#if user}}
<a class="waves-effect tea lighten-1" href="/stories"><i class="fa fa-google left"></i>View Stories</a>
{{else}}
<a class="waves-effect red darken-1 btn" href="/auth/google"><i class="fa fa-google left"></i>Login with Google</a>
{{/if}}